<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<description>
       Servlets for an online store web application.
    </description>
	<display-name>Online store</display-name>

	<servlet>	
		<servlet-name>KidsBooksPage</servlet-name>
		<servlet-class>coreservlets.KidsBooksPage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TechBooksPage</servlet-name>
		<servlet-class>coreservlets.TechBooksPage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OrderPage</servlet-name>
		<servlet-class>coreservlets.OrderPage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>WelcomePage</servlet-name>
		<servlet-class>coreservlets.WelcomePage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Checkout</servlet-name>
		<servlet-class>coreservlets.Checkout</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Pay</servlet-name>
		<servlet-class>coreservlets.Pay</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>KidsBooksPage</servlet-name>
		<url-pattern>/kidsBooksPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TechBooksPage</servlet-name>
		<url-pattern>/techBooksPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OrderPage</servlet-name>
		<url-pattern>/orderPage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WelcomePage</servlet-name>
		<url-pattern>/welcomePage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Checkout</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Pay</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>
</web-app>